.container {
  height: 50px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: #fff;
  padding: 0 50px;
}

.container > div > a {
  color: #504bf1;
}

@media screen and (max-width: 570px) {
  .container {
    font-size: 10px;
  }
}
.link {
  display: flex;
  align-items: center;
}
