.conteiner {
  width: 100%;
  margin-top: 30px;
}

.title {
  text-align: center;
  font-size: 52px;
  margin-bottom: 40px;
}

.updatesList {
  display: flex;
  flex-direction: column;
}

.updates {
  font-size: 20px;
  margin-bottom: 50px;
}

.updatesTitle {
  font-size: 21px;
  margin-bottom: 18px;
}

.updateDes {
  font-size: 18px;
  color: #0482f0;
}

.updateDes ~ ul {
  font-size: 16px;
  padding-left: 40px;
}
